
/* Body */
body ,html {
    font-size: larger;
    height: 100%;
}


/* ------Custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}

/* ==================================================================== */

/* Key Frames  */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* Media fixes - > Mobile */
 @media(max-width: 1400px) {

    ::-webkit-scrollbar {
        width: 0px;
    }
    #navBarId{
        position: relative;
    }
}
@media(max-width:700px){
    ::-webkit-scrollbar{
        display: none;
    }
    #navLinks{
        overflow-y: hidden;
    }
}



/* =================================================================== */
/* Whole page section -> */
#pagesSection {
    padding-top: 65px;
    background-image: url("assets/images/fern-m-lomibao-mC0413G04Ww-unsplash.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

/*------------------------ Navbar - Section ------------------------- */

/* Whole Links */
.nav-item {
    display: inline-flex;
    flex-direction: row;
    gap: 30px;
}

/* Individual links */
.nav-link {
    color: white;
    margin-left: 50px;
    font-size: x-large;
}

/* Hover links */
.nav-link:hover {
    color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-brand {
    width: 50px;
    animation: rotation 2s infinite linear;
}
.navbar{
    position: fixed;
}

/* Search bar -  */

/* h5 Question */
.specific-coin {
    color: rgb(240, 211, 235);
    font-family: system-ui;
}


.btn-outline-success {
    color: lightskyblue;
    border: 0.5px solid lightskyblue;
}

#searchClearInput {
    color: white;
    display: flex;
    justify-content: center;
}

.not-found-div {
    color: #d1e5ff;
}

.not-found-div>img {

    border-bottom-style: dotted;
    padding-left: 200px;
}

/* ----------------------------------------------------------------
  /* Card section */

.card-container {
    padding: 0 16px;
    width: 244px;
}

.card-container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}



/* Cards Container */
#displayContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    gap: 10px;
    align-items: baseline;
}

/* Individual Card */
.card {
    width: 300px;
    display: inline-block;
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    margin: 8px;
    color: white;
}

/* Logo on card */
.card-coin-logo {
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;

}

/* Switcher */
.form-check {
    display: flex;
    justify-content: flex-end;
}

div.form-check.form-switch {
    margin-right: 20px;
    font-size: x-large;

}

/* Card Title and logo */
.card-title {
    font-family: cursive;
    font-size: larger;
    margin-left: 40px;

}

.logo-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



/* Card Button more info -> */
.moreInfoBtn {
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0); 
    inline-size: max-content;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: black;
    font-size: 1rem;
    font-family: monospace, Helvetica, sans-serif;
    inline-size: max-content;
}


/* Card More info Container */
li {
    font-weight: bold;
}

/* Spinner moreInfo card button -> */
.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
}


/* Modal */
.modal-body {
    height: fit-content;
}


/* Modal Toggle button  ->  */
.form-check-input-modal {
    position: absolute;
    width: 30px;
    height: 35px;

}

.arrow-modal {
    margin-right: 25px;
    margin-top: 25px;
}

.close {
    background-color: rgb(227, 80, 80);
    font-size: larger;
    color: black;
}


/* COMING SOON SECTION  */
.coming-soon {
    inline-size: -webkit-fill-available;
}
.patient{
    background-image: linear-gradient(45deg,black , transparent);
    font-size: xx-large;
    color: white;
    text-align: center;
}



/* About us -> */
#about {
    color: white;
    font-family: monospace;
    font-size: 30px;
}
.display-4 , .knowledge , .mb-4 , .info-title{
    color: wheat;
}

.our-services{
    border: 2px solid black;
    margin-left: 90px;
    height: fit-content;

}

.services-title{
    margin-left: 30%;
    color: wheat;
}

.lead , .knowledge-div , .about-info{
    background: linear-gradient(to bottom right, rgba(52, 152, 219, 0.8), rgba(46, 204, 113, 0.8));
    color: white;
    padding: 20px;
    text-align: center;
    border-style: outset;
}

/*  */

/* Contact us -> */
#contact {
    color: white;

}

#contact-us-img {
    mix-blend-mode: lighten;
}