
.title-icon {
    color: white;
}

/* Body */
body {
    font-size: larger;
    height: 100%;
}




/* ------Custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}

/* ==================================================================== */
/* Parallax */

/* ->Ask yos if i have to.its sucks xD */

/* =================================================================== */


/* Key Frames  */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* Media fixes - > Mobile */
@media (max-width: 1400px) {
    #pagesSection {
        padding-top: 150px;
        
    }

    ::-webkit-scrollbar {
        width: 0px;
    }

    #pagesSection {
        margin-top: 170px;
    }


    @media (max-width: 768px) {
        .navbar {
            padding-bottom: 10px;
            /* Adjust this value as needed */
        }

        .navbar-brand {
            margin-top: -5px;
            /* Adjust this value as needed */
        }

        .navbar-nav {
            margin-top: 5px;
            /* Adjust this value as needed */
        }

    }
}



/* =================================================================== */
/* Whole page section -> */
#pagesSection {
    padding-top: 65px;
    background-image: url("assets/images/2304.w056.n005.188B.p15.188.jpg");

    /* Set a specific height */
    min-height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}



/*------------------------ Navbar - Section ------------------------- */
/* Navbar himself */

/* Whole Links */
.nav-item {
    display: inline-flex;
    flex-direction: row;
    gap: 30px;
}

/* Individual links */
.nav-link {
    color: white;
    margin-left: 50px;
    font-size: x-large;
}

/* Hover links */
.nav-link:hover {
    color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-brand {
    width: 50px;
    animation: rotation 2s infinite linear;
}


/* Search bar -  */

/* h5 Question */
.specific-coin {
    color: lightskyblue;
    font-family: system-ui;
}


.btn-outline-success {
    color: lightskyblue;
    border: 0.5px solid lightskyblue;
}

#searchClearInput {
    color: white;
    display: flex;
    justify-content: center;
}

.not-found-div {
    color: #d1e5ff;
}

.not-found-div>img {

    border-bottom-style: dotted;
    padding-left: 200px;
}

/* ----------------------------------------------------------------
  /* Card section */

.card-container {
    padding: 0 16px;
    width: 244px;
}

.card-container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}



/* Cards Container */
#displayContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    gap: 10px;
    align-items: baseline;
}

/* Individual Card */
.card {
    width: 300px;
    display: inline-block;
    background-color: rgb(199, 225, 241);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

/* Logo on card */
.card-coin-logo {
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;

}

/* Switcher */
.form-check {
    display: flex;
    justify-content: flex-end;
}

div.form-check.form-switch {
    margin-right: 20px;
    font-size: x-large;

}

/* Card Title and logo */
.card-title {
    font-family: cursive;
    font-size: large;
    margin-left: 40px;

}

.logo-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



/* Card Button more info -> */
.moreInfoBtn {
    background-color: #6195e9;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: black;
    font-size: 1rem;
    font-family: monospace, Helvetica, sans-serif;
    inline-size: -webkit-fill-available;
}


/* Card More info Container */
li {
    font-weight: bold;
}

/* Spinner moreInfo card button -> */
.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
}


/* Modal */
.modal-body {
    height: fit-content;
}


/* Modal Toggle button  ->  */
.form-check-input-modal {
    position: absolute;
    width: 30px;
    height: 35px;

}

.arrow-modal {
    margin-right: 25px;
    margin-top: 25px;
}

.close {
    background-color: rgb(227, 80, 80);
    font-size: larger;
    color: black;
}


/* COMING SOON SECTION  */
.coming-soon {
    min-inline-size: -webkit-fill-available;
}


/* About us -> */
#about {
    color: white;
    font-family: monospace;
    font-size: 30px;
}
.display-4 , .knowledge , .mb-4 , .info-title{
    color: wheat;
}

.our-services{
    border: 2px solid black;
    margin-left: 90px;
    height: fit-content;

}

.services-title{
    margin-left: 30%;
    color: wheat;
}

.lead , .knowledge-div , .about-info{
    background: linear-gradient(45deg, black, transparent);

}

/*  */

/* Contact us -> */
#contact {
    color: white;
    height: 1000px;

}


#contact-us-img {
    mix-blend-mode: lighten;
}